alembic=
archspec=
bidict==0.23.1
blinker==1.8.2
boltons=
Brotli=
certifi=
cffi=
charset-normalizer=
click==8.1.7
colorama=
conda=
conda-content-trust=
conda-libmamba-solver=
conda-package-handling=
conda_package_streaming=
cryptography=
distro=
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SocketIO==5.3.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozendict=
greenlet==2.0.2
h11==0.14.0
idna=
importlib-metadata=
importlib_resources=
itsdangerous==2.2.0
Jinja2==3.1.4
jsonpatch=
jsonpointer==2.1
libmambapy=
Mako=
MarkupSafe=
menuinst=
packaging=
platformdirs=
pluggy=
pycosat=
pycparser=
PySocks=
python-dotenv==1.0.0
python-engineio==4.9.1
python-socketio==5.11.4
requests=
ruamel.yaml=
ruamel.yaml.clib=
simple-websocket==1.0.0
SQLAlchemy=
tqdm=
truststore=
typing_extensions=
urllib3=
Werkzeug==3.0.3
win-inet-pton=
wsproto==1.2.0
WTForms==3.1.2
zipp=
zstandard=
