<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sample Site</title>
        <link 
        href ="{{url_for('sampleSite.static',filename='css/index.css')}}"
        rel="stylesheet"
        />
        
    </head>

    <body>
        <div class = "header" >
            <h1>Sample Site!</h1>
            <table>
                <tr>
                    <th><label>URL:</label></th>
                    <td><label>{{url_for(request.endpoint)}}</label></td>
                </tr>
                <tr>
                    <th><label>ID:</label></th>
                    <td><label>{{data.id}}</label></td>
                </tr>
                <tr>
                    <th><label>name:</label></th>
                    <td><label>{{data.name}}</label></td>
                </tr>
            </table>
        </div>
        <form method="post" action="/">
            {{ data.form.csrf_token }}
            <input type= "text" name="message" title="none"/>
            <input type= "submit" value="つぶやく"/>
        </form>
        <div class="chatbox">
        {% if data.messageList and data.messageList|length > 0 %}
        {% for i in range(0,data.len,2) %}
        <div class="chat gpt">{{data.messageList[i].message}}</div><br>

        <div class="chat me">{{data.messageList[i+1].message}}</div><br>

        {% endfor %}
        {% else %}
            <p>No items available.</p>
        {% endif %}

        </div>
    </body>
</html>