<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>

<body>
    <h1>Lobby</h1>
    <form action="{{ url_for('sampleSite.create_room') }}" method="post">
        <input type="text" name="room_name" placeholder="Room Name" required>
        <button type="submit">Create Room</button>
    </form>

    <h2>Available Rooms</h2>
    <ul>
        {% for room in rooms %}
        <!-- 'sampleSite.join_room_view' を使用してルームへのリンクを生成 -->
        <li><a href="{{ url_for('sampleSite.join_room_view', room_name=room) }}">{{
                room }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>