body{
    margin:0;
}

.header{
    background-color:#66cdaa;
    padding:1em;
}

h1{
    color:#ffffff;
    font-size:3em;
    margin:0;
}

th{
    text-align:left;
    padding:0em 1em 0em 1em;
}

th > label,
td > label{
    color:#ffffff;
}

.chat {
    display: inline-block; /*この部分を外すと横幅いっぱいになります*/
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px; /*吹き出しの丸み具合を変更*/
    background: #fffacd; /*吹き出しのカラーはここで変更*/
    text-align: left;
}

.chatbox{
    height: 500px;
    width: 720px;
    overflow: scroll;
}

.chat.me{
    background: greenyellow;
    text-align: right;
}

.chat.gpt{
    background: aqua;
    text-align: left;
}